<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBin - @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/fire.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/CustomScript.js"></script>
    <script src="~/Scripts/PScript.js"></script>
    <div class="container body-content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Home", "Home")"><span class="glyphicon glyphicon-fire"></span> PBin</a></li>
                    @{
                        if (Session["UserId"] != null)
                        {
                            <li><a href="#">@Session["Username"]</a></li>
                            <li><a href="@Url.Action("CreatePost", "Home")"><span class="glyphicon glyphicon-plus-sign"></span> Create Paste</a></li>
                        }
                    }

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @{
                        if (Session["UserId"] != null)
                        {
                            if ((bool)Session["IsAdmin"])
                            {
                                <li><a href="@Url.Action("UserList", "Home")"><span class="glyphicon glyphicon-pawn"></span> Users</a></li>
                            }
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("CreateAccount", "Home")"><span class="glyphicon glyphicon-plus-sign"></span> Create Account</a></li>
                            <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                    }


                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
        </nav>

    </div>
    <div class="container">
        <div id="feedback" class='col-xs-12' style='display:none'>@ViewBag.Feedback</div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
