@model PBin.Models.ViewModels.UserPostsViewModel
@{
    ViewBag.Title = "User Posts";
}

<div class="row">
    @if (Model.Posts.Count == 0)
    {
        <div class="col-xs-12">
            <p>There doesn't seem to be anything here</p>
        </div>
    }
    @for (int i = 0; i < Model.Posts.Count(); i++)
    {
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            @if (Model.Posts[i].Title != null)
                            {
                                <h1><a href="@Url.Action("", "Home")">@Model.Posts[i].Title</a></h1>
                            }
                            else
                            {
                                <h1><a href="@Url.Action("", "Home")">Untitled</a></h1>
                            }
                            <p>@Model.Posts[i].User.FirstName @Model.Posts[i].User.LastName @@ @Model.Posts[i].DateCreated</p>
                        </div>
                        <div class="col-xs-3 text-right">
                            <a href="@Url.Action("EditPosts", "Home", new { PostId = Model.Posts[i].Id })" class="btn btn-default">Edit</a>
                        </div>
                    </div>
                  
                </div>
                <div class="panel-body">
                    <pre>@Model.Posts[i].Content</pre>
                </div>
            </div>
        </div>
    }

</div>
<div id="feedback" class='col-xs-12' style='display:none'>@Model.sts</div>